In [14]:
import pandas

excel_data_df = pandas.read_excel('Personlocal.xlsx', sheet_name='Sheet1')

# print whole sheet data
print(excel_data_df)

       BusinessEntityID PersonType  NameStyle Title FirstName MiddleName  \
0                     1         EM          0   NaN       Ken          J
1                     2         EM          0   NaN     Terri        Lee
2                     3         EM          0   NaN   Roberto        NaN
3                     4         EM          0   NaN       Rob        NaN
4                     5         EM          0   Ms.      Gail          A
...                 ...        ...        ...   ...       ...        ...
19967             20773         IN          0   NaN   Crystal        NaN
19968             20774         IN          0   NaN  Isabella          F
19969             20775         IN          0   NaN   Crystal          S
19970             20776         IN          0   NaN   Crystal        NaN
19971             20777         IN          0   NaN   Crystal        NaN

         LastName Suffix  EmailPromotion ModifiedDate
0         SÃ¡nchez    NaN               0   2003-02-08
1           Duffy    NaN               1   2002-02-24
2      Tamburello    NaN               0   2001-12-05
3         Walters    NaN               0   2001-12-29
4        Erickson    NaN               0   2002-01-30
...           ...    ...             ...          ...
19967         Guo    NaN               0   2008-04-19
19968  Richardson    NaN               2   2007-08-30
19969          He    NaN               0   2008-04-12
19970       Zheng    NaN               1   2008-02-15
19971          Hu    NaN               0   2007-11-17

[19972 rows x 10 columns]